[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    alembic,
    build,
    dist,
    node_modules
select =
    E,
    F,
    W,
    C
ignore =
    E203,
    W503,
    E501
per-file-ignores =
    __init__.py:F401
    tests/*:S101